<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="TestString" connectionString="Server=mysql92.1gb.ru;Database=gb_dbhheli;Uid=gb_dbhheli;Pwd=$$$$$$$"/>
    <add name="RealString" connectionString="Server=MSKRESRDB01v.region.vtb.ru;Database=movedb;Uid=root;Pwd=########"/>
  </connectionStrings>
</configuration>
